package io.github.kdy05.physicalFighters;

public final class BuildConfig {
    public static final int BUILD_NUMBER = ${buildDate};
    public static final String VERSION = "${version}";

    private BuildConfig() {}
}